/* purgecss start ignore */
.site-layout-width-full {
  .container {
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }
}
.site-layout-width-full:not(.posts-theme-columns) {
  .section {
    margin: 0;
    padding: 0;
  }
}
.title {
  font-family: $family-secondary;
  color: $light;
  line-height: 1.3 !important;
}

h2.title {
  font-weight: 400;
  font-size: 4rem;
}
h3.title {
  font-weight: 400;
  font-size: 3.6rem;
}
h4.title {
  font-weight: 400;
  font-size: 2.4rem;
}

p {
  font-weight: 300;
  font-size: 1.8rem;
}

.button.is-rounded.is-large,
.input.is-rounded.is-large,
.select.is-rounded.is-large {
  font-size: 18px;
  padding: 1.4em 2.8em;
  font-weight: 500;
  border-color: black;
}

.button.is-rounded.is-extra-large {
  font-size: 30px;
  line-height: 1.2em;
  margin: 5rem 2rem;
  padding: 2.4em 2em;
  width: 360px;
  font-family: $family-secondary;
  border-color: black;
  &:hover {
    background-color: $pink-light;
    border-color: $pink-light;
    color: white;
  }
}

.hero.is-small .hero-body {
  padding-bottom: 2.4rem !important;
  padding-top: 2.4rem !important;
}

code {
  color: #e7155a;
  background: #f8f8f8;
  border: 1px solid #eee;
  padding: 1px;
  border-radius: 5px;
  font-size: 0.9em;
}
pre {
  background: #eee;
  padding: 20px;
  overflow-x: auto;

  code {
    background: transparent;
    color: initial;
    border: none;
    padding: 0;
  }
}
.home-page .under-subtitle {
  border-top: none !important;
}

blockquote {
  border: 1px solid #eee;
  border-left: 4px solid $primary;
  padding: 10px;
}
dt {
  font-weight: bold;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
/* purgecss end ignore */
