// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$body-size: 10px;

// Typography
$family-primary: "Roboto", sans-serif;
$family-sans-serif: "Roboto", sans-serif;
$family-secondary: "Libre Caslon Text", serif;

// Set your colors

$green: #6d7967;
$green-light: #6d7a66;
$green-dark: #444f3f;

$pink: #e8ccc4;
$pink-light: #e2d7cc;
$pink-lighter: #e8dcd2;

$brown: #7f6f5d;
$light: #f8f5f1; // off-white
$dark: $green-dark;

$primary: $green;

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($pink-lighter, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Nav
$navbar-background-color: transparent;
$navbar-padding-horizontal: 4rem;
$navbar-height: 18rem;

// Forms
$input-shadow: 3;
$input-background-color: transparent;



$button-border-width: 1px;

$hr-background-color: $pink-lighter;
$hr-height: 1px;

$modal-card-body-background-color: $green-dark;

