backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
# This line should *not* be indented
media_folder: "assets/uploads" # Media files will be stored in the repo under images/uploads
public_folder: "/uploads" # The src attribute for uploaded media will begin with /images/uploads
site_url: https://angry-ptolemy-4ac2dc.netlify.com
logo_url: https://angry-ptolemy-4ac2dc.netlify.com/logo-frames/logo-f0.svg
collections:
  - name: "posts" # Used in routes, e.g., /admin/collections/blog
    label: "Posts" # Used in the UI
    preview_path: "{{slug}}"
    folder: "content/posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string"}
      - {label: "Category", name: "category", widget: "relation", collection: "categories", searchFields: ["name"], valueField: "name", multiple: true}
      - {label: "Author", name: "author", widget: "string", default: "Daniel Kelly"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Image", name: "featureImage", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "categories"
    label: "Categories"
    folder: "content/categories"
    create: true
    slug: "{{slug}}"
    identifier_field: name
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - {label: "Description", name: "description", widget: "markdown"}
  - name: "products"
    label: "Home Page Products"
    folder: "content/products"
    create: true
    slug: "{{slug}}"
    identifier_field: name
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Brand", name: "brand", widget: "relation", collection: "brand", searchFields: ["name"], valueField: "name", multiple: false}
      - {label: "Image", name: "image", widget: "image"}
      - {label: "Types", name: "types", widget: "select" options: ["Indica", "Hybrid", "Sativa", "High CBD"]}
      - {label: "THC %", name: "thc", widget: "number", value_type: "float", min: 0, max: 100}
      - {label: "CBD %", name: "cbd", widget: "number", value_type: "float", min: 0, max: 100}
      - {label: "On Sale", name: "sale", widget: "boolean", default: false}
      - {label: "Best Seller", name: "best", widget: "boolean", default: false}
      - {label: "New Product", name: "new", widget: "boolean", default: false}
  - name: "brand"
    label: "Brands"
    folder: "content/brands"
    create: true
    slug: "{{slug}}"
    identifier_field: name
    fields:
      - {label: "Name", name: "name", widget: "string"}
  - label: "Pages"
    name: "pages"
    files:
      - label: "About Page"
        name: "about"
        file: "content/about.yml"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Intro, name: intro, widget: markdown}
          - label: Team
            name: team
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Position, name: position, widget: string}
              - {label: Photo, name: photo, widget: image}
      - label: "Locations Page"
        name: "locations"
        file: "content/locations.yml"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Intro, name: intro, widget: markdown}
          - label: Locations
            name: locations
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Address, name: address, widget: string}

